<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:60423/ApciService.svc"
                binding="basicHttpBinding"
                contract="Services.Std.Interface.IAPCIService" />
      <endpoint address="http://localhost:60423/ESWService.svc"
                binding="basicHttpBinding"
                contract="Services.Std.Interface.IESWService" />
    </client>
  </system.serviceModel>
</configuration>